  <h1>Om mig</h1>
  <br>
  <br>
  <%= image_tag('kasper-hauschildt.jpg', style: 'float: left;') %>
  <p>Jeg hedder Kasper Hauschildt, er 28 år og drømmer om at blive web/Ruby-udvikler.</p>
  <br>
  <p>Jeg er tidligere uddannet butiksassistent med speciale inden for legetøj og hobby, hvilket har givet mig stor glæde og indsigt i hvordan man driver forretning og håndterer kundernes forventninger kontra ens egne.</p>
  <br>
  <p>På grund af en alvorlig knæskade i 2014 kunne jeg desværre ikke stå i butik længere, da jeg ikke var i stand til at løfte varer eller stå op i længere tid ad gangen. Jeg blev derfor nødt til at sadle om.</p>
  <br>
  <p>Jeg har altid haft stor interesse i programmering og it, så da jeg alligevel skulle skifte branche, besluttede jeg mig for at gå denne vej og gik straks i gang med at øve mig via hjemmesiden codeacademy. Selvom jeg lærte en del om det grundlæggende indenfor programmering og webudvikling på disse hjemmesider, så manglede jeg stadig en del faglig viden om området.</p>
  <br>
  <br>
  <p>Heldigvis blev jeg i 2015 optaget på AspIT, som er en IT faglig skole for voksne med autisme og Aspergers syndrom.</p>
  <br>
  <p>De specialiserer sig i faglig opkvalificering af eleven, at facilitere kontakt mellem elev og en virksomhed og hjælper med et samarbejde der betaler sig for elev og virksomhed.</p>
  <br>
  <p>Jeg har lige afsluttet 1½ års praktikforløb, hvor jeg lærte meget om webudvikling og programmering i Ruby on Rails. </p>
  <p>Jeg leder efter en ny praktikplads, som forhåbentlig ender i fast arbejde, når jeg afslutter min uddannelse hos AspIT i juli 2018.</p>
  <br>
  <br>
  <p>Som person er jeg en venlig type, der har et stort ønske om at hjælpe andre og være med til at skabe værdi på min arbejdsplads. Jeg kan være stædig til tider og giver som regel ikke op på en opgave, før jeg har løst den. Jeg kan have svært ved at lære nye ting, men så snart jeg får fundet den røde tråd, så mestrer jeg det som regel.</p>
  <br>
  <br>
  <p>Jeg har erfaring med følgende:</p>
  <br>
  <p>- Ruby on Rails: Avanceret begynder niveau</p>
  <p>- CSS3: Middel højt niveau</p>
  <p>- HTML5: Bruger niveau</p>
  <p>- JavaScript: Absolut begynder</p>
  <p>- Rspec Testing: Rutineret</p>

  <br>
  <br>
  <br>
  <p>Jeg har ingen fine fornemmelser og tager gerne hvilken som helst opgave, for at få en fod indenfor i branchen. </p>
