<div class="container-center">
  <h1>About me</h1>
  <br>
  <p>My name is Kasper Hauschildt, im 28 years old.</p>
  <br>
  <%= image_tag('kasper-hauschildt.jpg') %>
  <br>
  <p>I live in the center of Århus and i aspire to become a full stack web developer.</p>
  <br>
  <p>i curentley attend a school for autists called AspIT, where i have chosen to major in web development and visualisation. </p>
  <br>
  <p>when it comes to visualisation, i have some experience with adobe illustrator and i have much experience with HTML5 and CSS3. </p>
  <br>
  <p>as a programmer, i have much experience with ruby, c# and every little experience with javascript. I have a working knowlage about database structures.</p>
  <br>
  <p>sadley I do not have any experience with setting up and maintaining a webserver, but i am more than willing to learn.</p>
  <br>
  <br>
  <br>
  <p>in my spare time I work on various projects to build up my web development skills. when i dont sit in front of my labtop, i spend time on other passions like bow shooting, going to the movies, hiking and of corse family and friends</p>
</div>