  <h1>Om mig</h1>
  <br>
  <br>
  <%= image_tag('kasper-hauschildt.jpg', style: 'float: left;') %>
  <p>jeg hedder Kasper Hauschildt, jeg er 28år og drømmer om at blive web/ruby udvikler.</p>
  <br>
  <p>Jeg er tidligere uddanet butiks assistent med speciale inden for legetøj og hobby, hvilket har givet mig stor glæde og insigt i hvordan man driver forretning, og kundernes forventinger kontra ens egen.                    </p>
  <br>
  <p>men på grund af en alvorlig knæskade i 2014, så kunne jeg ikke stå i butik længere, da jeg ikke var i stand til at løfte varere eller stå i længere tid, så jeg blev nød til at sadle om.</p>
  <br>
  <p>jeg har altid haft stor interesse i programering og IT, så da jeg lærte at jeg ikke kunne arbejde inden for mit feldt, så besluttede jeg mig for at jeg skulle blive programør og gik straks igang med codeacademy</p>
  <p>men blev hurtigt nød til at indse, at selvom kurserne på codeacademy eller lynda var rigtigt gode til, at lære det grundlæggende inden for programering og webudvikling, så ville jeg ikke vide hvad der er nødvendigt at kunne for at få job inden for faget. </p>
  <br>
  <br>
  <p>Heldigvis så blev jeg optaget på AspIT i 2015, hvilket er en it faglig skole for voksne med autisme og asbergers syndrom. </p>
  <br>
  <p>De specialicere sig i at facilitere kontakt mellem elev og arbejdsgiver, de sørger for opkvalificering af eleven, og gør hvad de kan for et samarbejde der betaler sig for begge parter.</p>
  <br>
  <p>Jeg her lige afsluttet en praktik der varede i halvandet år, hvor jeg lærte meget om web udvikling og programering i ruby on rails, men jeg må indrømme at jeg har nogle huller som jeg arbejder på at få lukket. </p>
  <p>Derfor leder jeg efter en ny praktikplads som forhåbentlig ender i fast arbejde.</p>
  <br>
  <br>
  <p>Som person er jeg en velig type, der har et stort ønske om at hjælpe andre og være med til at skabe værdi på min arbejdsplads. Jeg kan være stædig til tider og giver som regl ikke op på en opgave før jeg har løst den. </p>
  <p>jeg kan have svært ved at lære nye ting, men så snart jeg får fundet den røde tråd så mestre jeg det som regl også ret hurtigt.</p>
  <br>
  <br>
  <p>inden for webudvikling så har jeg erfaring med følgende.</p>
  <br>
  <p>- Ruby on Rails: avanceret begynder</p>
  <p>- Css3: midel højt niveau</p>
  <p>- HTML5: bruger niveau</p>
  <p>- javascript: absolut begynder</p>
  <p>- Rpec testing: rutineret</p>

  <br>
  <br>
  <br>
  <p>Jeg har ingen fine fornemmelser og tager hvilken som helst opgave for at få en fod indenfor i brancen. </p>
