  <h1>Om mig</h1>
  <br>
  <br>
  <%= image_tag('kasper-hauschildt.jpg', style: 'float: left;') %>
  <p>Jeg hedder Kasper Hauschildt, er 29 år og drømmer om at få en fod inden for i tech brancen.</p>
  <br>
  <p>Jeg er tidligere uddannet butiksassistent med speciale inden for legetøj og hobby, hvilket har givet mig stor glæde og indsigt i hvordan man driver forretning og håndterer kundernes forventninger kontra ens egne.</p>
  <br>
  <p>På grund af en alvorlig knæskade i 2014 kunne jeg desværre ikke stå i butik længere, da jeg ikke var i stand til at løfte varer eller stå op i længere tid ad gangen. Jeg blev derfor nødt til at sadle om.</p>
  <br>
  <p>Jeg har altid haft stor interesse i programmering og IT, så da jeg alligevel skulle skifte branche, besluttede jeg mig for at gå denne vej og gik straks i gang med at lære at kode via diverse undervisningsider som eksempelvis codeschool og codeacademy. Selvom jeg lærte en del om det grundlæggende indenfor programmering og webudvikling på disse hjemmesider, så manglede jeg stadig en del faglig viden om området.</p>
  <br>
  <br>
  <p>Heldigvis blev jeg i 2015 optaget på AspIT, som er en IT faglig skole for voksne med autisme og Aspergers syndrom. Som del af min skolegang har jeg været i praktik i to virksomheder. Der har jeg lært en masse om backend webudvikling, ved at løse forskellige typer opgaver fra at lave automatiserede test til relle forbedringer der ville give værdi hos brugeren.</p>
  <br>
  <br>
  <p>Som person er jeg en venlig type, der har et stort ønske om at hjælpe andre og være med til at skabe værdi på min arbejdsplads. Jeg kan være stædig til tider og giver som regel ikke op på en opgave, før jeg har løst den. Jeg kan have svært ved at lære nye ting, men så snart jeg får fundet den røde tråd, så mestrer jeg det som regel.</p>
  <br>
  <br>
  <p>gennem min tid på aspit og gennem mine praktikpladser fik jeg erfaring med følgende.</p>

  <br>
  <strong>Frontend</strong>
  <br>
  <p> - Ruby on rails web framework:  let øvet</p>
  <p> - HTML5: erfaren</p>
  <p> - CSS3: erfaren</p>
  <p> - javascript6: begynder</p>
  <br>
  <br>
  <strong>Backend</strong>
  <p>  - C#: lidt erfaring</p>
  <p> - Ruby: meget erfaring</p>
  <p> - python: lidt erfaring</p>
  <p> - javascript: lidt erfaring</p>
  <p> - sql: nogen erfaring </p>
  <br>
  <br>
  <strong>Tech support</strong>
  <p>- linux/unix: brugerniveau</p>
  <p>- windows server: øvet</p>
  <p>- windows: super bruger niveau</p>
  <p>- linux server: begynder niveau</p>
  <br>
  <br>
  <p>Jeg har ingen fine fornemmelser og tager gerne hvilken som helst opgave, for at få en fod indenfor i branchen. </p>
  <br>
  <br>
