<div class="banner">
  <%= image_tag('banner-image.jpg') %>
</div>

<div class="projectbox">

  <div class="background">
    <h1>Ruby on Rails</h1>
    <div class="bottom-foreground" style="background-color: green"></div>
  </div>

  <div class="background">
    <h1>Javascript</h1>
    <div class="bottom-foreground" style="background-color: purple"></div>
  </div>

  <div class="background">
    <h1>Css</h1>
    <div class="bottom-foreground" style="background-color: red"></div>
  </div>

</div>