.navbar{
  width: 100%;
  height: 50px;
  background-color: #333;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar ul{
  width: 100%;
  background-color: #333;
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar li{
  border-right: 1px solid black;
  min-width: 6%;
}

.navbar li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  text-align: center;
  padding: 10px 20px;
}

.navbar li a:hover{
  background-color: black;
}

.navbar #navbar-more{
  display: none;
  background-color: #333;

}

label{
  visibility: hidden;
  background-color: #333;
  font-size: 20px;
  color: white;
  display: block;
  position: absolute;
  right: 0;
  margin-right: 10px;

}



@media screen and (max-width: 600px){

  .navbar ul{
      visibility: hidden;
    }

  .navbar #navbar-more{
    visibility: visible;
  }

  label{
    visibility: visible;
    align-content: flex-end;
  }

  .navbar input{
    visibility: hidden;
  }

  .navbar ul li{
    height: 50px;
    width: 90%;
    background-color: #333;
  }

  .navbar input:checked + ul{
    flex-direction: column;
    visibility: visible;
  }

}

.container {
  height: 100%;
  width: 100%;
}
