.container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  background-color: orange;
}

.container-center{
  width: 60%;
  justify-content: center;
  box-shadow: 0px 0px 10px  15px rgba(0,0,0,.4);
  background-color: white;
  padding: 20px;
}

.container-center h1{
  font-size: 30px;
  margin-left: 20px;
}

.container-center img{
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.container-center p{
  margin-left: 20px;
}
