.screen-box{
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.screen-box .pc-screen{
  height: 150px;
  width: 300px;
  background-color: #333;
  border: 20px solid black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-box .pc-screen:before{
  content: "Klik her for mere.";
  display: block;
  height: 150px;
  width: 300px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  animation: screen 30s;
}

.pc-screen a{
  display: block;
  width: 300px;
  height: 150px;
  color: #333;
  position: absolute;
}

@keyframes screen{
  0%{content: "H";}
  4%{content: "He";}
  8%{content: "Hej"}
  10%{content: "Hej.";}

  11%{content: "J";}
  12%{content: "Je";}
  13%{content: "Jeg"}
  14%{content: "Jeg "}
  15%{content: "Jeg h"}
  16%{content: "Jeg he"}
  17%{content: "Jeg hed"}
  18%{content: "Jeg hedd"}
  19%{content: "Jeg hedde"}
  20%{content: "Jeg hedder"}
  21%{content: "Jeg hedder"}


  22%{content: "K"}
  23%{content: "Ka"}
  24%{content: "Kas"}
  25%{content: "Kasp"}
  26%{content: "Kaspe"}
  27%{content: "Kasper"}
  28%{content: "Kasper "}
  29%{content: "Kasper H"}
  30%{content: "Kasper Ha"}
  31%{content: "Kasper Hau"}
  32%{content: "Kasper Haus"}
  33%{content: "Kasper Hausch"}
  34%{content: "Kasper Hauschi"}
  35%{content: "Kasper Hauschil"}
  36%{content: "Kasper Hauschild"}
  37%{content: "Kasper Hauschildt"}
  38%{content: "Kasper Hauschildt"}



  39%{content: "K"}
  40%{content: "Kl"}
  41%{content: "Kli"}
  42%{content: "Klik"}
  43%{content: "Klik "}
  44%{content: "Klik h"}
  45%{content: "Klik he"}
  46%{content: "Klik her"}
  47%{content: "Klik her "}
  48%{content: "Klik her f"}
  49%{content: "Klik her fo"}
  50%{content: "Klik her for"}
  51%{content: "Klik her for "}
  52%{content: "Klik her for m"}
  53%{content: "Klik her for me"}
  54%{content: "Klik her for mer"}
  55%{content: "Klik her for mere"}
  56%{content: "Klik her for mere."}
  100%{content: "Klik her for mere."}
}

.screen-box .pc-leg{
  height:30px;
  width: 70px;
  background-color: black;
  position: relative;
}

.screen-box .pc-foot{
  height: 10px;
  width: 200px;
  background-color: black;
  border-top-right-radius: 25%;
  border-top-left-radius: 25%;
}