.container .banner{
  width: 100%;
  height: 400px;
  background-color: blue;
  position: absolute;
}

.container .projectbox{
  width: 50%;
  height: 330px;
  background-color: pink;
  z-index: 1;
  position: relative;
  top: 250px;
}